body 
    {
        color:black;
        background-color:white;
        background-image:url(/home/step5/Images/fond.jpg);
        background-size: cover;
        text-align: center;
        
        }
.entet
{
    width: 100%;
    height: 285px;
    background-color: rgb(240, 102, 102);
    color: white;
    font-size: large;
    line-height: 150px;
    text-align: center;
    font-family: inherit;
    border-radius: 6px;
    position: relative;
}

.menu
{
    margin: auto;
    width: auto;
    height: 50px;
    margin-top: 10px;
    background-color: steelblue;
    border-radius: 6px;
}

.bouton{
    display:block;
    float:left;
    cursor:pointer;
    padding:5px 5px 5px 10px;
    margin:10px 10px 0 0;
    /* mise en forme du bouton */
    background-color:#f0f0f0;
    border:2px solid #b9b9b9;
    border-top:1px solid #e2e2e2;
    border-left:1px solid #e2e2e2;
    text-decoration:none;
  }
  
  .bouton p{
    padding:0 5px 0 10px;
    margin:0;
    float:right;
    line-height:25px;
    height:25px;
    /* mise en forme du texte */
    font-family:Tahoma, Geneva, sans-serif;
    font-size:12px;
    color:#595c58;
    text-decoration:none;
    font-weight:bold;
    border-radius: 6px;
  }
  
  .bouton img{
    width:25px;
    height:25px;
    border:none;
    margin:0;
    padding:0;    
  }
  
  .bouton:hover{
    background-color:#dbdada;
  }
  
  .bouton:active{
    background-color:#dbdada;
    border:2px solid #b9b9b9;
    border-bottom:1px solid #e2e2e2;
    border-right:1px solid #e2e2e2;
  }
  
  .bouton-supprimer {
    background-color:#ffd0d0;
    border:2px solid #e7abab;
    border-top:1px solid #f1cfcf;
    border-left:1px solid #f1cfcf;
    border-radius: 6px;
  }
  .bouton-supprimer p {
    color:#ff2525;
  }
  .bouton-supprimer:hover{
    background-color:#ffbdbd;
  }
  
  .bouton-supprimer:active {
    background-color:#ffbdbd;
    border:2px solid #e7abab;
    border-bottom:1px solid #f1cfcf;
    border-right:1px solid #f1cfcf;
  }
  
  .bouton-suivant img {
    float:right;
    border-radius: 6px;
  }

ul li 
{
    position: relative;
    list-style: none;
    float: left;
    margin-left: 50px;
    
}

ul li a
{
    text-decoration: none;
    font-family: cursive;
    display:block;
    line-height: 50px;
    width:100px;
    color:black;
    
}

ul li a:hover
{
    transform: rotate(2deg);   
}
a
{
    text-decoration: underline;
    display: block;
    color: steelblue;
}
a:hover
{
    color: red;
}
}

.menu ul li:hover ul{
    visibility: visible;
}

article
{
    margin: 20px;
    padding: 25px;
    margin-top: 50px;
    border-radius: 6px;
    color: white;
    background-color: black;
}

img
{
    border: 2px solid white;
    border-radius: 6px;
    
}

#bloca
{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
#blocb
{
    display: flex;
    justify-content:center;
    margin: auto;
}
#blocc
{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
section {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
form {
    width: 50%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    border-radius: 6px;
}
input:focus:invalid 
{
    border-color: red;
    box-shadow:20px 20px 5px rgb(223, 119, 119); 
}
input:focus:valid 
{
    border-color:green;
    box-shadow:20px 20px 5px rgb(160, 247, 160); 
} 
textarea:focus:invalid 
{
    border-color: red;
    box-shadow:20px 20px 5px rgb(223, 119, 119);
}
textarea:focus:valid 
{
    border-color:green;
    box-shadow:20px 20px 5px rgb(160, 247, 160); 
} 

.correct

{
    border-color:green;
    box-shadow:20px 20px 5px rgb(160, 247, 160);
}

.incorrect

{
    border-color:green;
    box-shadow:20px 20px 5px rgb(160, 247, 160);
}


input,
textarea
 {
    padding: 6px 12px;
    margin: 10px;
    line-height: 32px;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    border: 0;
    border-bottom:  solid;
    align-items: stretch;
    border-radius: 6px;
    
}
input:focus textarea:focus
{
    border:yellow;
    border-color: rgb(240, 240, 137);
    box-shadow: rgb(221, 4, 4);
    
}
::placeholder {
    color:black;
}
body {
    padding-top: 50px;
}
	
.form_col {
    display: inline-block;
    margin-right: 15px;
    padding: 3px 0px;
    width: 200px;
    min-height: 1px;
    text-align: right;
}
	
input {
	padding: 2px;
	border: 1px solid #CCC;
	border-radius: 2px;
	outline: none; /* Retire les bordures appliquées par certains navigateurs (Chrome notamment) lors du focus des éléments <input> */
}
	
.tooltip {
	display: none;
	margin-left: auto;
	padding: auto;
	border: 1px solid #555;
	background-color: #CCC;
	border-radius: 4px;
}
}
/* Exemples de media queries, ici.
On utilise max > en dessous de la dimension identifiée, le navigateur prend en compte cette nouvelle mise en page */
@media (max-width: 576px) {
    
}

@media (max-width: 768px) {
    /* Adaptation de la présentation des articles */
    section{
        flex-direction: column;
    }
    #menus  {
        width:100%;
        flex-direction: column;
    }
    /* Adaptation du menu */
    #menu{
        flex-direction: column;
    }
 
}
/* Min fonctionne à l'inverse de max */
@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }